/* General */
body {
    width: 800px;
    margin: 0 auto;
    background-image: url("Images/phone_globe.jpg");
}
img {
    width: 200px;
    height: 200px;
}
/* Typography */
h1 {
   text-align: center; 
}
h2 {
    text-align: center;
}
footer {
    text-align: center;
}
/* Block styling */
main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    color: white;
}
/* Styling the products display */
body>div {
    border: 5px solid black;
    display: flex;
}